
* {
    font-weight: bold;
    font-size: larger;
  }

  section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }
  
  .footer-distributed{
      background: black;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
      height: 25%;
     
     
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 40%;
      padding-left: 3%;
  }
  p{
    padding-left: 3%;
    font-weight: bold;
    font-size: large;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      color:  #ffffff;
      font: normal 36px 'Open Sans', cursive;
      margin: 0;
  }
  
  .footer-distributed h3 span{
      color:  rgb(41, 150, 144);
  }
  

  
  .footer-distributed .footer-company-name{
      color: #FFFFFF;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 35%;
  }

  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
.footer-distributed .footer-right p{
      display: inline-block;
      color: #ffffff;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  

  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:20px;
      line-height:1;
  }
  
  .footer-distributed .footer-right p span{
    display:block;
    font-weight: normal;
    font-size:20px;
    line-height:1;
}


  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #798b9e;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #b15a5a;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  
