<footer class="footer-distributed">

    <div class="footer-left">
        
        <img src="assets/Logo.png" height="180"  width ="200" alt="Shopping Gladiator">

        <p class="footer-company-name" style="font: bold;">Shopping Gladiator © 2021</p>
    </div>

    <div class="footer-center">

        <p class="footer-company-about">
            <span>Address</span>
            Plot No. EL200, TTC Electronic Zone, Shil-Mahape Road
            <br> Mahape, Mumbai - 400710
            <br> Landmark: NEAR ICICI Bank ATM.
        </p>
        <br>
        <br><br>
        <p class="footer-company-about">
            <span>Mail Us At</span>
            <a href="mailto:support@ShoppingGladiator.com" style="color: aqua;">support@ShoppingGladiator.com</a>
        </p>
        
        
    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
           Shopping Gladiator is the mother of online shopping apps. Customers can buy, sell, and save on their online shopping which includes apparel, home appliances, furniture, outdoor camping essentials, and much more
        </p>
    </div>

</footer>
