<p>wishlist works!</p>

<div class="container">
    <br><br>
    <h3><i><u>Hello, {{useremail}} ! Here is your Wishlist</u></i></h3>
  </div>
  <br><br>
  
  
<div class="container">
  <div class="row">    
  <div class="col-md-3 mx-auto my-5 d-flex" *ngFor = "let product of wishlist">
    <div class="card full shadow" 
    (click)=OpenModel(product.productid,product.productname,product.productprice,product.productquantity,product.productdescription,product.productbrand,product.productimage1,product.retailerid,product.categoryid)
    data-toggle="modal" data-target="#exampleModal">
        <img class="card-img-top" src= "http://localhost:58766/Image/{{product. productimage1}}" alt="product" width="250px" height="200px">
        <!-- "https://localhost:58766/Image/{{product. productimage1}}" -->
        <div class="card-body">
            <div class="card-text">
                <h3 class = "card-title">{{ product.productname }}</h3>
                <h4  style = "color: red"> Price : {{ product.productprice }} &#8377;</h4>
                <br><br>
            </div>
        </div>
      </div>
    </div>
  </div>
    <div class="card-footer w-100 text-muted">
        {{uc.categoryname}}
        <h4> Sold by : {{uc.retailername}}  , For any enquiries write to <b>{{uc.retaileremail}}</b></h4>
    </div>
    <br><br>
  </div>
  <br><br><br>
  
  
  <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div style="width: 40%; float:left ; height: 500px;">
                <div class="containernew">
                 <img src = "http://localhost:58766/Image/{{prod. productimage1}}"> 
                  <!-- <img src = "{{prod. productimage1}}"> -->
                </div>
              </div> 
          <div style="width: 60%; float:right">
                <h2>{{prod.productname}}</h2>
                <br><h5>Description : {{prod.productdescription}}</h5>
                <br>
                <h4>Price : <h3 style="color:red">{{prod.productprice}} &#8377;</h3></h4>
                <br>
                <h4>Quantity in stock : <h3 style="color:red">{{prod.productquantity}}</h3></h4>
                <br>
                <h4>Brand :{{prod.productbrand}}</h4>
                <br>       
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus btn btn-danger"><i class="fa fa-minus"></i></button>
                  <input style="width: 5em" min="0" #quantity id="myquantity" name="quantity" value="1" type="number">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus btn btn-success"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" style="color:white; background-color: black;" (click)="addtocart(prod.productid,quantity.value)" data-dismiss="modal">Add to cart</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>