<p>retailerdetails works!</p>
<div >
    <table id="retailerdetails" >
        <tr id="heading">
            <th><span>
                Product Name
            </span></th>
            <th><span >
                Product Brand
            </span></th>
            <th><span >
                Customer Email
            </span></th>
            <th>
                <span >
                    Product Price
                </span>
            </th>
            <th><span >
                Order Quantity
            </span></th>
            <th><span >
                Retailer Revenue
            </span></th>
            
        </tr>
        
        <tr *ngFor="let retailer of retailers">
           <td>{{retailer.productname}}</td>        
            <td>{{retailer.productbrand}}</td>
            <td>{{retailer.useremail}}</td>
            <td> &#x20b9;{{ retailer.productprice}}</td>
            <td>{{retailer.orderquantity}}</td>
            <td> &#x20b9;{{ retailer.productprice*retailer.orderquantity}}</td>
        </tr>
        
    </table>
</div>

<!-- <div>
    <section *ngFor="let retailer of retailers">
        <h3 >
            Product Name : {{retailer.productname}}
        <br>Product Brand : {{retailer.productbrand}}
        <br> Product Price : &#x20b9;{{ retailer.productprice}}
        <br>Usermail : {{retailer.useremail}}
        <br> Order Quantity : {{retailer.orderquantity}}
        <br>Retailer Revenue : &#x20b9;{{ retailer.productprice*retailer.orderquantity}}
        </h3>
        
    </section>
</div> -->
