<p>profileretailer works!</p>
<article><table>
    <tr>
        <th>Retailer Details</th>
        <th>Change Password</th>
        <th>Add Product</th>
        <th>Products</th>
    </tr>
    <tr>
        <td><a [routerLink]="['/retailerdetails']"><img src="assets/retailerdets.jpeg "></a></td>
        <td><a [routerLink]="['/changepasswordRetailer']"><img src="assets/changepass.jpeg"></a></td>
        <td><a [routerLink]="['/addProduct']"><img src="assets/addproduct.jpeg"></a></td>
        <td><a [routerLink]="['/productdetails']"><img src="assets/products.jpeg"></a></td>
    </tr>
</table>
</article>
<br>
<br>
    <router-outlet></router-outlet>