<br><br><br>
<div class="container">
    <h1>Pending Products</h1>
</div>
<table class="table table-hover">
    <thead class="thead-dark">
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Quantity</th>
        <th>Product Brand</th>
        <th>Product notification</th>
        <th>Retailer Name</th>
        <th>Category Name</th>
        <th>Approve</th>
        <th>Reject</th>
    </thead>
    <tbody>
        <tr *ngFor = "let product of pendingProductList">
            <td>{{product.productid}}</td>
            <td>{{product.productname}}</td>
            <td>{{product.productprice}}</td>
            <td>{{product.productquantity}}</td>
            <td>{{product.productbrand}}</td>
            <td>{{product.productnotification}}</td>
            <td>{{product.retailername}}</td>
            <td>{{product.categoryname}}</td>
            <td><button class="btn btn-success"  (click)="Approve(product.productid,product.productname,product.retailername,product.retaileremail)">Approve</button></td>
            <td><button class="btn btn-danger" (click)="Reject(product.productid,product.productname,product.retailername,product.retaileremail)">Reject</button></td>
        </tr>
    </tbody>
</table>
