<p>changepasswordretailer works!</p><article>
    <h4 style="text-align:center;font-family:helvetica;margin-top:35px;color:#404040;font-size:20px">Change Password</h4>
    
    <form [formGroup] = "changepassForm" (ngSubmit) = "DoChangePassword()">
    
    <label >Email: </label><br>
    
    <input type = "text" class="form-control" formControlName = "remail" [(ngModel)]="RetailerChangepass.retaileremail" autofocus>
    <span>
        <div *ngIf = "k.remail.errors && k.remail.touched" class="text-danger">
        <div *ngIf = "k.remail.errors.required">Email is required</div>
        <div *ngIf = "k.remail.errors.email">Email must be a valid email address</div>
    </div>
</span>
    
    <label >Old Password</label><br>
    
    <input type = "password" class="form-control" formControlName = "oldpassword">
        <br>
    <span >
        <div *ngIf="k.oldpassword.errors && k.oldpassword.touched" class="text-danger">
            <div *ngIf = "k.oldpassword.errors.required">Old Password is required</div>
            <div *ngIf = "k.oldpassword.errors.minlength">Old Password must be of minimum 6 characters</div>
        </div>
    </span>
    
    <label >New Password</label><br>
    
    <input type = "password" class="form-control" formControlName = "newpassword" [(ngModel)]="RetailerChangepass.retailerpassword">
        <br>
    <span>
        <div *ngIf="k.newpassword.errors && k.newpassword.touched" class="text-danger">
            <div *ngIf = "k.newpassword.errors.required">New Password is required</div>
            <div *ngIf="k.newpassword.errors">Password should be atleast 8 char contain one [A-Z],one [a-z] and one [0-9]</div>
        </div>
    </span>

    <label >Confirm Password</label><br>
    
    <input type = "password" class="form-control" formControlName = "confirmnewpassword"><br>
    <span >
        <div *ngIf="k.confirmnewpassword.errors && k.confirmnewpassword.touched" class="text-danger">
            <div *ngIf = "k.confirmnewpassword.errors.required">Confirm Password is required</div>
            <div *ngIf = "k.confirmnewpassword.errors.mustmatch">Password must match</div>
        </div></span>
    
        <input type="submit" name="changepass" id="changepass" value="Change Password" style="text-align:center;background-color:black;color:white;margin-top:10px">
    
</form>
    </article>